<!DOCTYPE html>
<html lang="{{ site.lang | default: 'es' }}">
<head>
    {% include head-custom.html %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <div id="hero-container">
        <div id="hero-image" style="background-image: url('{{ site.baseurl }}/assets/images/suevemente_bg.png');">
            <div class="fog-layer fog-layer-top" id="scroll-fog"></div>
            
            <div class="veo-logo">Veo</div>
        </div>
    </div>

    <div id="main-content">
         <main class="wrapper">
            {{ content }}
        </main>
        
    </div>

    <script src="{{ site.baseurl }}/assets/js/scroll-effects.js"></script>
</body>
</html>
